{% macro slider() %}

<div class="slider">
    <span class="slider__button"><img src="./images/layer.png"></span>
    <ul class="slider__items">
        <li class="slider__item" id="cant">Не владею</li>
        <li class="slider__item" id="use-ready-made-solutions">Использую готовые решения</li>
        <li class="slider__item" id="use-ready-made-solutions-and-update">Использую готовые решения и умею их переделывать</li>
        <li class="slider__item" id="can">Пишу сложный JS с нуля</li>
    </ul>
</div>

{% endmacro %}